html, body {
    margin:0;
    padding-left: 10px;
    font-family: "Lucida Grande", Verdana;
    font-size: 0.9em;
    text-align: center;

}
     
h1 {
    text-align: left;
}

#map {
  width: 500px;
  height: 500px;

  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
}

#infovis {
  width:1000px;
  height: 600px;
  margin: auto;
  background: #111;
  -webkit-box-shadow: 0 0 5px #000;
}

.node {
  color:#fff;
  font-size:9px;
  overflow:hidden;
  cursor:pointer;
  -webkit-transition: border-color 200ms;
  border: 1px solid transparent;
}

.node:hover {
 border-color: #9FD4FF;
}

.button-container {
    text-align: left;
    margin-bottom: 10px;
}
.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  font: 14px / 100% Arial, Helvetica, sans-serif;
  padding: 0.5em 1em 0.55em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.button:hover {
  text-decoration: none;
}

.button:active {
  position: relative;
  top: 1px;
}

/* white */
.white {
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top,  #fff,  #ededed);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

.white:hover {
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
  background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

.white:active {
  color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
  background: -moz-linear-gradient(top,  #ededed,  #fff);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
